/*color pallete: 
#1D3752 
#214D72
#2C7695
#50BFC3
 */

* {
    font-size: 100%;
    color: #2C7695;
}

#navbar {
/*     background-color: #50BFC3;
    border-color: #50BFC3;
    background-clip:inherit; */
}

body {
    background-color: #cbcfce;
}


.error {
    color: red;
}

.container {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
}

.article {
    display: flex;
    flex-direction: column;
    width: 30%;
    max-width: 30%;
    min-width: 30%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0,);
    color: #2C7695;
    float: left;
    border: 2px solid black;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.35);
    padding: 0px;
}

.articleTop {
    height: 71%;
    background-color: #cbcfce;
    padding: 10px;
    border: none;
    margin: -1px;

}

.articleBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 31%;
    margin: -1px;
    background-color: #50BFC3;
}

h2 {
    font-size: 1.35vw;
}

a {
    text-decoration: none;
    color: #2C7695;
}

body {
    background-image: url("images/piano.jpg");
    background-size: contain;
}

.favorite {
    border: none;
    background-color: #1D3752;
    color: #cbcfce;
    border-radius: 5px;
}