{% extends "layout.html" %}

{% block title %}
    Blogs
{% endblock %}

{% block main %}
{% for blog in blogs %}
<div class="container">
    <div class="article">    
        {% if blog['title']|length <= 100 %}
        <h2><a href = {{ blog['link'] }}>{{ blog['title'] }}</a></h2>
        {% if session["user_id"] %}
        <form action="/blogs" method="post">
            <button class="btn btn-primary" name="favoriteblog" value="{{ blog['id'] }}" type="submit">Favorite</button>
        </form>
        {% endif %}
        {% else %}
        <h2><a href = {{ blog['link'] }}>{{ blog['title'][0:100] }}[...]</a></h2>
        {% if session["user_id"] %}
        <form action="/blogs" method="post">
            <button class="btn btn-primary" name="favoriteblog" value="{{ blog['id'] }}" type="submit">Favorite</button>
        </form>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endfor %}

{% endblock %}