{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/changepassword" method="post">

        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="oldPassword" name="oldPassword" placeholder="Old Password" type="password">
            <p id="oldPasswordIndicator" class="error"></p>
        </div>
        <script>
            let password = document.querySelector('#oldPassword');
            function promptOldPassword() {
                if ("{{ oldPasswordInput }}" == "False") {
                    oldPassword.style.border = '2px solid red';
                    let html = 'Please enter a password.'
                    document.querySelector('#oldPasswordIndicator').innerHTML = html
                }
            }
            promptOldPassword()
        </script>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="newPassword" name="newPassword" placeholder="New Password" type="password">
            <p id="newPasswordIndicator" class="error"></p>
        </div>
        <script>
            let newPassword = document.querySelector('#password');
            function promptNewPassword() {
                if ("{{ newPasswordInput }}" == "False") {
                    newPassword.style.border = '2px solid red';
                    let html = 'Please enter a password.'
                    document.querySelector('#newPasswordIndicator').innerHTML = html
                }
            }
            promptNewPassword()
        </script>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm password" type="password">
            <p id="confirmationIndicator" class="error"></p>
        </div>

        <script>
            let confirmation = document.querySelector('#confirmation');
            function promptConfirmation() {
                if ("{{ confirmationInput }}" == "False") {
                    confirmation.style.border = '2px solid red';
                    let html = 'Please confirm your password.'
                    document.querySelector('#confirmationIndicator').innerHTML = html
                }
            }
            promptConfirmation()
        </script>
        <script>
            confirmation = document.querySelector('#confirmation');
            function promptPasswordsMatch() {
                if ("{{ passwordsMatch }}" == "False") {
                    console.log('hi')
                    confirmation.style.border = '2px solid red';
                    let html = "Passwords don't match."
                    document.querySelector('#confirmationIndicator').innerHTML = html
                }
            }
            promptPasswordsMatch()
        </script>
        <script>

            function promptInputCorrect() {
                if ("{{ inputCorrect }}" == "False") {
                    oldPassword.style.border = '2px solid red';
                    let html = 'Password is incorrect.'
                    document.querySelector('#oldPasswordIndicator').innerHTML = html
                }
            }
            promptInputCorrect()
        </script>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}
