{% extends "layout.html" %}

{% block title %}
    News
{% endblock %}

{% block main %}
{% for article in articles %}
<div class="container">
    <div class="article">    
        {% if article['title']|length <= 100 %}
        <h2><a href = {{ article['link'] }}>{{ article['title'] }}</a></h2>
        <button>Favorite</button>
        {% else %}
        <h2><a href = {{ article['link'] }}>{{ article['title'][0:100] }}[...]</a></h2>
        <button>Favorite</button>
        {% endif %}
    </div>
</div>
{% endfor %}

{% endblock %}