{% extends "layout.html" %}

{% block title %}
    News
{% endblock %}

{% block main %}
<div class="container">
    {% for article in articles %} 
        {% if article['title']|length <= 100 %}
            <div class="article">  
                <div class="articleTop"> 
                    <h2><a href = {{ article['link'] }}>{{ article['title'] }}</a></h2>
                </div>
            <div class="articleBottom">
            </div>
            </div>
            {% else %}
                <div class="article">
                    <div class="articleTop">
                        <h2><a href = {{ article['link'] }}>{{ article['title'][0:100] }}[...]</a></h2>
    
                    </div>
                    <div class="articleBottom">
                    </div>
                </div>
    
            {% endif %}
    {% endfor %}
    </div>

{% endblock %}