{% extends "layout.html" %}

{% block title %}
    News
{% endblock %}

{% block main %}
<div class="container">
{% for article in articles %}
    <div class="article">    
        {% if article['title']|length <= 100 %}
        <h2><a href = {{ article['link'] }}>{{ article['title'] }}</a></h2>
        {% if session["user_id"] %}
        <form action="/" method="post">
            <button class="btn btn-primary" name="favorite" value="{{ article['id'] }}" type="submit">Favorite</button>
        </form>
        {% endif %}
        {% else %}
        <h2><a href = {{ article['link'] }}>{{ article['title'][0:100] }}[...]</a></h2>
        {% if session["user_id"] %}
        <form action="/" method="post">
            <button class="btn btn-primary" name="favorite" value="{{ article['id'] }}" type="submit">Favorite</button>
        </form>
        {% endif %}
        {% endif %}
    </div>
{% endfor %}
</div>

{% endblock %}